
<div class="side">
    
    <!-- page  -->
  <h2 class="heading">MENU</h2>
  <div class="pages">
    <a routerLink="">Profile </a> <br>
    <a routerLink="employee">E-Charts</a><br>
    <a routerLink="gallery">Wallet</a><br>
    <a routerLink="gallery">Transactions</a><br>
    <a routerLink="gallery">Notifications</a><br>
    <a routerLink="gallery">Community</a>
    
  </div><br>
 
  
  <!-- tools  -->
  
  <div class="others">
      <h2 class="heading">OTHERS</h2>
      <div class="pages">
        <a routerLink="contact"> Settings  </a>
        <a routerLink="leads"> Support</a>
      </div>
  </div>
  
  </div>
  