

<div class="cards">
    <mat-card>
        <app-cards
        bg="color1"
        icon="fa-brands fa-bitcoin"
        discription="Bit coin"
        count="$ 29,126.10 USD"> </app-cards>
    </mat-card>

    <mat-card>
        <app-cards
        bg="color2"
        icon="fa-brands fa-ethereum"
        discription="Ethereum"
        count="$ 1,822.80 USD"
        > </app-cards>
    </mat-card>

    <mat-card>
        <app-cards
        bg="color3"
        icon="fa-solid fa-litecoin-sign"
        discription="Lite coin"
        count="$ 78.10 USD"> </app-cards>
    </mat-card>

    <mat-card>
        <app-cards
        bg="color3"
        icon="fa-brands fa-viacoin"
        discription="VIA-Coin"
        count="$ 0.0292 USD"> </app-cards>
    </mat-card>

</div>


<app-graph></app-graph>

<div class="bar">

  <div> <img width="500px" height="450px" src="https://cdni.iconscout.com/illustration/premium/thumb/crypto-exchange-5309287-4440064.png?f=webp" alt=""></div>


   <app-minigraph></app-minigraph>


</div>

<div class="market">
  <app-market></app-market>&nbsp; &nbsp;
</div>

<div class="footer">
    <app-footer> </app-footer>
</div>





